<h4 class="mt-4"><strong>Relatório vendas</strong></h4>
<div class="d-flex justify-content-center algin-items-center" *ngIf="isLoading">
    <mat-spinner diameter="45"></mat-spinner>
</div>
<div *ngIf="!emitted" class="col-4 offset-4 mt-5">
    <form [formGroup]="form" autocomplete="off">
        <mat-card class="p-3">
            <mat-form-field appearance="outline">
                <mat-label>Pagamento</mat-label>
                <mat-select formControlName="typePayment">
                    <mat-option [value]="1">CRÉDITO</mat-option>
                    <mat-option [value]="2">DÉBITO</mat-option>
                    <mat-option [value]="3">A VISTA</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" required>
                <mat-label>Caixa</mat-label>
                <mat-select formControlName="cashierId">
                    <mat-option [value]="1">CAIXA BALCAO</mat-option>
                    <mat-option [value]="2">CAIXA PADARIA</mat-option>
                    <mat-option [value]="3">CAIXA CONVENIENCIA</mat-option>
                    <mat-option [value]="3">CAIXA DELIVERY</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Período</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                    <input matStartDate placeholder="Inicio" formControlName="start">
                    <input matEndDate placeholder="Fim" formControlName="end">
                </mat-date-range-input>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>

            <div class="d-flex justify-content-end">
                <button class="col-3" [disabled]="form.invalid" mat-raised-button color="primary" (click)='emit()'>Emitir</button>
            </div>
        </mat-card>
    </form>
</div>
<div *ngIf="emitted && !isLoading">
    <table mat-table [dataSource]="data" class="mat-elevation-z8">
        <ng-container matColumnDef="typePayment">
            <th mat-header-cell *matHeaderCellDef> Tipo Pgto </th>
            <td mat-cell *matCellDef="let element"> <strong>{{getTypePaymentName(element.typePayment)}}</strong> </td>
        </ng-container>

        <ng-container matColumnDef="cashierId">
            <th mat-header-cell *matHeaderCellDef> Caixa </th>
            <td mat-cell *matCellDef="let element"> {{getCashierName(element.cashierId)}} </td>
        </ng-container>

        <ng-container matColumnDef="saleDate">
            <th mat-header-cell *matHeaderCellDef> Data </th>
            <td mat-cell *matCellDef="let element"> {{element.saleDate | date:'dd/MM/yyyy'}} </td>
        </ng-container>

        <ng-container matColumnDef="totalPrice">
            <th mat-header-cell *matHeaderCellDef> Vlr. Total </th>
            <td mat-cell *matCellDef="let element"> <strong>{{element.totalPrice | currency:'BRL'}}</strong> </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    </table>
</div>